In [1]:
import pandas as pd
df = pd.read_excel('Hackathon.xlsx')

In [2]:
df.head()

,Candidate Id,Codeforces Rating,Codeforces Contributions,Dribble works,Dribble Projects,Dribble collections,Kaggle compettions,Kaggle Datasets,Kaggle code,Kaggle Discusions,Github Repos,Github Commits,Total Rating
0,1,10,5,6,10,4,5,3,3,3,5,5,3.277778
1,2,7,2,2,2,4,3,4,2,2,1,4,1.833333
2,3,4,5,2,8,2,3,5,1,4,9,5,2.666667
3,4,10,5,5,2,3,10,1,3,4,8,1,2.888889
4,5,2,3,10,3,1,5,1,4,2,5,4,2.222222

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

array=df.values
X = array[:,1:12]
y = array[:,12]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)
model1_Lr = LinearRegression()
model1_Lr.fit(X_train, y_train)
y_pred = model1_Lr.predict(X_test)

In [17]:
def accuracy(a,b):
    ans=[]
    for i in range(len(a)):
        v=100-(abs(a[i]-b[i])/b[i])*100
        ans.append(v)
    per=sum(ans)/len(a)
    return per

In [18]:
print('accuracy:',accuracy(y_test,y_pred))

accuracy: 99.99999999999999